.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* ниже заданы стили для секции блока header*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: -2;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  z-index: 1;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-items :center; 
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  z-index: 1;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: -1;
}

/* ниже заданы стили для секции блока description*/
.description {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

/* ниже заданы стили для секции блока digits*/
.digits {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  padding: 0;
}

.table__cell:nth-child(1) {
  margin-bottom: 60px;
}

.table__cell:nth-child(2) {
  margin-bottom: 60px;
}

.table__cell:nth-child(3) {
  margin-bottom: 60px;
}

.table__cell:nth-child(4) {
  margin-bottom: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_paragraph {
  margin-bottom: 0;
}

/* ниже заданы стили для секции блока feynman*/
.feynman {
  height: 890px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2 url('/Users/Administrator/dev/how-to-learn/images/feynman.png') no-repeat bottom left/ 867px 637px;
  position: relative;
  border-bottom: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  width: 648px;
  margin: 100px auto 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

/* ниже заданы стили для секции блока kaufman*/
.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  color: white;
  width: 60%;
  margin: 90px auto 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark {
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.table_theme_dark {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  list-style: none;
  z-index: 1;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
}

.table__cell_theme_dark:nth-child(1) {
  margin-bottom: 80px;
}

.table__cell_theme_dark:nth-child(2) {
  margin-bottom: 80px;
}

.table__cell_theme_dark:nth-child(3) {
  margin-bottom: 80px;
}

.table__cell_theme_dark:nth-child(4) {
  margin-bottom: 80px;
}

.table__cell_theme_dark:nth-child(5) {
  margin-bottom: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: -1;
  top: 0;
  object-fit: contain;
}

/* ниже заданы стили для секции блока footer*/
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}

.footer__columns {
  margin: 60px auto 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__colums_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__columns_content_info {

}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.footer__columns_content_social {

}

.footer__column-link {
  margin-left: 0;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  list-style: none;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
